body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(243, 231, 231);
    box-sizing: border-box;  
}
.container{
    display: flex; 
    align-items: center;
    justify-content: center;
}
.number {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
button{
    top:100px;
    align-self: center;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 10px;
    font-size: 15px;
    padding: 10px;
    background: crimson;
    
    
}

.coloumn {
    text-align: center;
    margin: 10px;
    
    

}
/* 
input:checked {
    background:crimson;
    color: white;


} */
p{
    margin: 0px;
    
}
label{
    padding-top: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.number div label input[type="checkbox"]:checked ~ p{
    background:crimson;
    color: white;
    padding: 10px; 
    border-radius: 30px;
    margin: 0px;


}
.number div label input[type="checkbox"]{
    display: none;
    margin: 0px;
    padding: 0px;
    

} 

.number div label{
    /* position: relative; */
    cursor: pointer;
    display: inline-block;
    background: rgb(51, 194, 182);
    padding: 10px;
    color: white;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    font-size: 20px;
    margin: 0px;
}
.number div label{
    cursor: pointer;
    
    
}